* {
	font-family: "Verdana", Geneva, sans-serif;
	margin:0px;
}

body {
	background-color:#fcfcfc;
	padding:20px;
}

header {
	text-align:center;
}

article {
	padding:20px;
}

article h2 {
	color:#fb0;
}

hr {
	border: 1px solid black;
}

th, td {
	padding:5px;
}

#doc {
	padding:20px 0px;
}

.table {
	max-height: 400px;
	max-width: 800px;
	overflow: auto;
}
.canvasWrapper {
	float:left;
	margin-left:10px;
}

.legend b {
	margin-left:0.5em;
}

.legend {
	margin-top:20px;
	display:none;
	width: 270px;
	border: 1px solid black;
	padding:10px;
}
	.legend .title {
		display: block;
		margin: 0.5em;
		border-style: solid;
		border-width: 0 0 0 1em;
		padding: 0 0.3em;
		cursor:pointer;  
	}
	
	.legend_title {
		font-size: 1.5em;
	}
	
	.legend .range_title {
		display: block;
		margin: 0.5em;
		border-style: solid;
		border-width: 0 0 0 1em;
		padding: 0 0.3em;
	}

	.legend .tableTitle {
		font-size: 1.1em;
	}
	
#rangeSliderDiv {
	display: none;
}

.chart {
	display:none;
}

.button {
	background-color:#fb0;
	color: white;
	border-radius: 3px;
	padding:10px;
	width:auto;
	display:inline-block;
	cursor:pointer;
}

.vis_it {
	float:left;
}

.save {
	display:none;
	margin-left:15px;
	width:100px;
	float:left;
}

.left {
	float:left;
	padding-right: 20px;
	width:300px;
}



.clearleft{
	clear:left;
}

footer {
	padding:20px;
	background-color:#eee;
	color:black;
	text-align:center;
}
